<nav class="mt-2">
    <ul class="nav flex-column">

        <li class="nav-item">
            <a href="/Antrenor" class="nav-link">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a href="/Antrenor/Randevularim" class="nav-link">
                <i class="bi bi-calendar-check me-2"></i> Randevularım
            </a>
        </li>

        <li class="nav-item">
            <a href="/Antrenor/CalismaSaatleri" class="nav-link">
                <i class="bi bi-clock me-2"></i> Çalışma Saatleri
            </a>
        </li>

        <li class="nav-item">
            <a href="/Antrenor/Profil" class="nav-link">
                <i class="bi bi-person me-2"></i> Profilim
            </a>
        </li>

    </ul>
</nav>
