<nav class="mt-2">
    <ul class="nav flex-column">

        <li class="nav-item">
            <a href="/Admin" class="nav-link">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a href="/Salon" class="nav-link">
                <i class="bi bi-building me-2"></i> Salonlar
            </a>
        </li>

        <li class="nav-item">
            <a href="/Hizmet" class="nav-link">
                <i class="bi bi-grid-3x3-gap me-2"></i> Hizmetler
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="UzmanlikAlani" asp-action="Index" class="nav-link">
                <i class="bi bi-patch-check me-2"></i> Uzmanlık Alanları
            </a>
        </li>

        <li class="nav-item">
            <a href="/Antrenorler" class="nav-link">
                <i class="bi bi-person-workspace me-2"></i> Antrenörler
            </a>
        </li>

        <li class="nav-item">
            <a href="/AntrenorUzmanlik" class="nav-link">
                <i class="bi bi-person-badge me-2"></i> Antrenör Uzmanlıkları
            </a>
        </li>

        <li class="nav-item">
            <a href="/Randevular" class="nav-link">
                <i class="bi bi-calendar-week me-2"></i> Randevular
            </a>
        </li>

        <li class="nav-item">
            <a href="/Uyeler" class="nav-link">
                <i class="bi bi-people me-2"></i> Üyeler
            </a>
        </li>

        <li class="nav-item">
            <a href="/Raporlar" class="nav-link">
                <i class="bi bi-file-earmark-bar-graph me-2"></i> Raporlar
            </a>
        </li>


        <li class="nav-item">
            <a href="/Haber" class="nav-link">
                <i class="bi bi-newspaper me-2"></i> Haberler
            </a>
        </li>

        <li class="nav-item">
            <a href="/Duyuru" class="nav-link">
                <i class="bi bi-megaphone me-2"></i> Duyurular
            </a>
        </li>

        <li class="nav-item">
            <a href="/Kampanya" class="nav-link">
                <i class="bi bi-tag me-2"></i> Kampanyalar
            </a>
        </li>
        <li class="nav-item">
            <a href="/Ayarlar" class="nav-link">
                <i class="bi bi-gear me-2"></i> Ayarlar
            </a>
        </li>

    </ul>
</nav>
